.ol-attribution img {
  max-width: 2em;
}
.ol-scale-line {
  background-color: #0097a7;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#map {
  height: 100%;
}
#content {
  width: 100%;
  height:  100%;
  position: fixed;
  bottom: 0px;
}
#geolocation-control {
  position: absolute;
  margin-left: 20px;
  top: 129px;
}
#zoom-buttons {
  margin-left: 20px;
  position: absolute;
  top: 20px;
}
#rotate-button {
  top: 20px;
  right: 10px;
  position: absolute;
}
.query-panel {
  display: none;
  left: 387px;
  top: 56px;
  position: absolute;
  max-width: 50%;
  z-index: 1111;
}
.attributes-table {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 101;
  background-color: white;
}
#home-button {
  position: absolute;
  top: 184px;
  margin-left: 20px;
}
#globe-button {
  position: absolute;
  margin-left: 20px;
  top: 239px;
}
.map {
  position: absolute;
  height: calc(100% - 64px);
}
